/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

body {
	color: #F0EFEF;
	line-height: 1.4;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 300;
}

a {
	text-decoration: none;
}

/* Center the Container */

.container {
	width: 960px;
	margin: 0 auto;
}

.logo{
	font-size: 48px;
	font-weight: 800;
}

.pageIntro {
	background: url("../images/header_bg.jpg") top center;
	background-size: cover;
	padding: 30px 0;
}

.tagline {
	font-size: 48px;
	text-align: center;
	color: white;
	margin: 120px 0 90px;
	font-weight: 600;
}

.btn {
	border-radius: 5px;
	font-weight: 800;
	padding: 12px 0;
	width: 280px;
	font-size: 28px;
	text-align: center;
	display: block;
	margin: 0 auto;
}

.btn-cta {
	background: #F9E42E;
	color: 033048;
}
.containerTwo {
	width: 960px;
	margin: 0 auto;
	padding: 40px 0;
}
.partTwo {
	color: blue;
}
.description {
	color: gray;
	margin: 5px;
}
.bullets {
	color: gray;
}
.containerThree {
	background: url(../images/testimonial_bg.jpg) top center #071324;
	padding: 40px 0;
}
.partThree {
	color: gray;
	font-size: 24px;
	font-style: italic;
	text-align: center;
}
/*.partThree em {
	font-style: italic;
}*/
.source {
	color: white;
	font-size: 24px;
	text-align: center;
}
.btnTwo {
	border-radius: 5px;
	font-weight: 800;
	padding: 12px 0;
	width: 280px;
	font-size: 28px;
	text-align: center;
	display: block;
	margin: 0 auto;
}

.btn-ctaTwo {
	background: blue;
	color: white;
}
.containerFive {
	background: black;
	font-weight: 800;
	padding: 12px 0;
	font-size: 28px;
}
.partFive {
	color: yellow;
	font-size: 24px;
	text-align: center;

}
.copyright {
	color: white;
	font-size: 12px;
	text-align: center;
}
.containerFour{
	background-color: yellow;
	padding: 40px 0;
}
.social{
	text-align: center;
}
.social a{
	color: white;
}