
/*Box Model Hack*/
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/*Column Layout and Containers */

.outerWrapper {
	margin: 0 auto;
	width: 960px;
	overflow: hidden;
}

.sartreColumnContainer {
	overflow: hidden;
	width: 100%;
}

.sartrePrimary {
	width: 700px;
	float: left;
	overflow: hidden;
	padding: 10px;
}

.sartreSecondary {
	width: 220px;
	float: right;
	overflow: hidden;
	padding: 10px;
}

/* Header */

.sartreMainNav {
	background: black;
	color: white;
	clear: both;
}

.sartreMainNav ul {
	padding: 0;
	margin: 0;
	overflow: hidden;
}

.sartreMainNav li {
	padding: 0;
	margin: 0;
	float: left;
}

.sartreMainNav li a {
	color: white;
	text-decoration: none;
	padding: 20px 40px;
	display: block;
	border-right: 1px solid white;
}

.sartreMainNav li:last-child a {
	border-right: none;
}

.sartreLogoHaus {
	color: red;
	font-size: 40px;
	padding: 10px;
	line-height: 15px;
	overflow: hidden;
}

.tagline {
	color: gray;
	font-size: 16px;
	line-height: 15px;
	padding: 10px;
}

.secondaryNav {
	background: white;
	color: red;
}
.secondaryNav ul {
	padding: 0;
	margin: 0;
	overflow: hidden;
}

.secondaryNav li {
	padding: 0;
	margin: 0;
	float: left;
}

.secondaryNav li a {
	color: red;
	text-decoration: none;
	padding: 10px 20px;
	display: block;
	/*/*border-right: 4px gray; how do I make the gray lines?*/
}

.secondaryNav li:last-child a {
	border-right: none;
	float: left;
}
.copyright {
	padding: 10px;
	color: gray;
}
.popular {
	color: gray;
}
.popularTwo {
	color: red;
}
.date {
	color: gray;
	font-size: 24px;
}
.firstLetter {
	font-size: 60px;
	padding: 4px 4px;
	float: left;
	display: inline-block;
}
.description {
	color: gray;
	float: right;
	display: inline-block;
}
.sartrePrimary article p {
	overflow:hidden;
	clear:both;
}

.secondLetter {
	font-size: 60px;
	padding: 4px 4px;
	float: left;
	display: inline-block;
}
.secondDescription {
	color: gray;
	float: right;
	display: inline-block;
}

.secondDescription:first-letter {
	font-size: 6em;
	float:left;

}
.copyright {
	/*padding: 20px; how do I make this align with the footer*/
}
.advert {
	font-size: 24px;
	padding: 90px 90px;
	margin: 0 auto;
	background: gray;
}
.image {
	overflow: hidden;
}